@charset "UTF-8";
:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --profession-color: #757575;
  --features-info-color: #757575;
  --general-duration: 250ms;
  --general-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.noscroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav__desktop-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav__desktop-menu {
    display: flex;
  }
}

.header-nav__mobile-menu {
  display: block;
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.header-nav__mobile-menu {
  z-index: 4;
  position: fixed;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 767px) {
  .header-nav__mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__mobile {
    display: none;
  }
}

.header-nav__mobile-menu .icon-mobile-close {
  display: none;
}

.header-nav__mobile-menu.is-open .icon-mobile-close {
  display: block;
}

.header-nav__mobile-menu.is-open .icon-mobile-menu {
  display: none;
}

.header-nav__info {
  display: none;
}

.header-nav__info.is-open {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-top: 45px;
  padding-left: 40px;
  z-index: 3;
}

.header-nav__info-link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav__link-item + .header-nav__link-item {
  margin-top: 32px;
}

.header-nav__tel {
  display: inline-block;
  margin-bottom: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header-nav__mail {
  font-family: "Roboto";
  display: inline-block;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-mobile__list {
  display: flex;
  gap: 20px;
}
.social-mobile__list > li:last-child > .social-mobile__link::after {
  display: none;
}

.header-nav__page-nav-mobile {
  margin-bottom: 300px;
}

.after-mobile {
  margin-left: 10px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  color: transparent;
  height: 0px;
}

.social-mobile__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}
.social-mobile__link::after {
  content: "|";
  color: rgba(33, 33, 33, 0.2);
  display: inline-block;
  position: relative;
  left: 10px;
}

.header-nav__list {
  display: flex;
}

.header-nav {
  margin-left: 10px;
  margin-right: 10xp;
}

.header-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.header-nav-list__link:focus, .header-nav-list__link:hover {
  color: var(--accent-color);
}

.header-nav-list__link--current {
  color: var(--accent-color);
  position: relative;
}
.header-nav-list__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-list {
  margin-left: auto;
}

.header-list > .header-list__item:not(:last-child) {
  margin-right: 30px;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav__desktop-menu__list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav__desktop-menu__list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__desktop-menu__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list__item + .header-list__item {
    margin-top: 10px;
  }
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.jpg);
  background-color: #c4c4c4;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  max-width: 696px;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.work-list {
  display: flex;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}

.work-list__item {
  margin-right: 30px;
}

.work-list__item--turn-left {
  margin-right: -30px;
}

.work-list__img-wrapper {
  position: relative;
}

.work-list__text {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .masters-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.masters-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.masters-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .masters-list__item {
    width: 354px;
  }
  .masters-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .masters-list__item:nth-child(2n) {
    margin-right: -30px;
  }
  .masters-list__item:nth-last-child(-n+2) {
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-list__item {
    width: 270px;
    height: 428px;
  }
  .masters-list__item:nth-child(2) {
    margin-right: 30px;
  }
  .masters-list__item:nth-child(n+1) {
    margin-bottom: -30px;
  }
}

.masters-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.masters-list__profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--profession-color);
  margin-bottom: 16px;
}

.masters-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.masters-list__social {
  display: flex;
  justify-content: center;
}

.masters-list-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.masters-list-social__link:focus, .masters-list-social__link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.masters-list-social__icon {
  fill: currentColor;
}

.masters-list-social__item + .masters-list-social__item {
  margin-left: 10px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.customers__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customers__item {
    flex-grow: 1;
  }
}
.portfolio-project__meta-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-project__meta {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media (min-width: 768px) {
  .portfolio-project__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.portfolio-project__link {
  background: #ffffff;
  max-width: 370px;
  transition-property: box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.portfolio-project__link:hover, .portfolio-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project__link:hover .portfolio-project__img-wrapper > .portfolio-project__text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-project__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .kostyl {
    letter-spacing: 0em;
  }
}

.portfolio-project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-project__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: transform;
  transform: translateY(101%);
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

.portfolio-project__meta-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .portfolio-project-list.project-buttons {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list_item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list_item {
    margin-right: 30px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list_item {
    margin-bottom: -30px;
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list_item:nth-child(2n) {
    margin-right: -30px;
  }
  .advantages-list_item:nth-last-child(-n+2) {
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list_item:nth-child(2) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list_item--turn-left {
    margin-right: -30px;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages_list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages-list_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list_wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list_wrapper {
    width: 270px;
  }
}
.advantages-list_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--features-info-color);
}
.advantages-list_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantages-list_title {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list_title {
    display: block;
  }
}

.element-logo {
  color: var(--accent-color);
}

.second-element-logo {
  color: #000000;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media (max-width: 767px) {
  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
}
@media (max-width: 767px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}

.footer__logo--blue {
  color: var(--accent-color);
}

.footer__address {
  margin-top: 20px;
}

.footer__map {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
  .footer__wrapper {
    display: flex;
    align-items: baseline;
  }
}

.join__list {
  display: flex;
}
@media (max-width: 767px) {
  .join__list {
    margin-bottom: 60px;
  }
}

.join__title {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 767px) {
  .join__title {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .join__title {
    text-align: center;
  }
}

.join {
  max-width: 222px;
}
@media (max-width: 767px) {
  .join {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.join__link:focus, .join__link:hover {
  background-color: #2196f3;
}

.join__link-icon {
  fill: currentColor;
}

@media (max-width: 767px) {
  .footer__list {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .tablet-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) perspective(500px) rotateX(60deg) translate(-50%, -50%);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) perspective(500px) rotateX(0deg);
  transform-origin: left bottom;
  transition: transform 1000ms;
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover > .modal__close-svg, .modal__close:focus > .modal__close-svg {
  fill: #188ce8;
}

.modal__close-svg {
  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-field__input {
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}
.form-field__input:focus {
  border-color: var(--accent-color);
}

.textarea,
.form-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field__input-wrap {
  position: relative;
}

.form-field__icon {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  position: absolute;
  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

.btn-submit {
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: hidden;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.btn-submit:focus {
  background-color: #188ce8;
}
.btn-submit:hover {
  background-color: #188ce8;
}

.form-field__title {
  color: var(--features-info-color);
  display: block;
  margin-bottom: 4px;
}

.form-field__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.textarea {
  outline: none;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
  border-color: var(--accent-color);
}
.textarea:placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field-checkbox__title {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--features-info-color);
}

/* Кастомный чекбокс через before */
/* .form-field-checkbox__title::before {
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-field-checkbox__policy-check:checked + .form-field-checkbox__title::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
} */
.form-field-checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Кастомный чекбокс через svg-sprite */
.form-field-checkbox__title span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form-field-checkbox__icon {
  fill: transparent;
}

.form-field-checkbox__policy-check:checked + .form-field-checkbox__title span {
  background-color: var(--accent-color);
  border: none;
}

.form-field-checkbox__policy-check:checked + .form-field-checkbox__title .form-field-checkbox__icon {
  fill: #ffffff;
}

.form-field-checkbox__link {
  margin-left: 7px;
  text-decoration: underline;
  color: var(--accent-color);
}

.portfolio-project-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-project-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-project-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: hidden;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.portfolio-project-list__btn:hover, .portfolio-project-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-project-list__btn--blue {
  background-color: #2196f3;
  color: #ffffff;
  transition-property: box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

@media (max-width: 1200px) {
  .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .sign-in {
    margin-left: 93px;
  }
}

.sign-in__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-in__email {
  outline: none;
  padding: 15px 16px;
  color: #ffffff;
  background-color: transparent;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.sign-in__email::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1200px) {
  .sign-in__email {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .sign-in__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .sign-in__form {
    display: flex;
    flex-direction: row;
  }
}

.sign-in__btn {
  display: flex;
  align-items: center;
  padding-left: 29px;
  cursor: pointer;
  margin-left: 7px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  border: hidden;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
}
@media (max-width: 1200px) {
  .sign-in__btn {
    margin-top: 20px;
  }
}

.sign-in__svg {
  position: absolute;
  right: 28px;
  top: 13px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  border: hidden;
  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}
.button:hover {
  background-color: #188ce8;
}

.section {
  padding-bottom: 94px;
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}/*# sourceMappingURL=main.css.map */