.work-list {
  display: flex;
}

.work {
  display: none;
  @media screen and(min-width:1200px) {
    display: flex;
  }
}

.work-list__item {
  margin-right: 30px;
}

.work-list__item--turn-left {
  margin-right: -30px;
}

.work-list__img-wrapper {
  position: relative;
}
.work-list__text {
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
