.advantages-list_item {
  margin-right: 30px;
}
.advantages-list_item--turn-left {
  margin-right: -30px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;

  &_list {
    display: flex;
  }

  &-list_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #f5f4fa;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }

  &-list_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--features-info-color);
    max-width: 270px;
  }

  &-list_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
    margin-bottom: 10px;
  }
}
