.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) perspective(500px) rotateX(60deg) translate(-50%, -50%);
}

.modal {


  padding: 40px;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) perspective(500px) rotateX(0deg);
  transform-origin: left bottom;
  transition: transform 1000ms;
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover > .modal__close-svg,
  &:focus > .modal__close-svg {
    fill: #188ce8;
  }
}

.modal__close-svg {
  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field + .form-field {
  margin-top: 10px;
}

// .form-field__input:focus {
//   border-color: var(--accent-color);
// }

// .form-field__input:focus + .form-field__icon {
//   fill: var(--accent-color);
// }

.form-field__input {
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: none;

  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);

  &:focus + .form-field__icon {
    fill: var(--accent-color);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.textarea,
.form-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-field__input-wrap {
  position: relative;
}
.form-field__icon {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  position: absolute;
  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);
}

.btn-submit {
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: hidden;
  letter-spacing: 0.06em;

  color: #ffffff;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);

  &:focus {
    background-color: #188ce8;
  }
  &:hover {
    background-color: #188ce8;
  }
}

// .btn-submit {
//   &:focus {
//     background-color: #188ce8;
//   }
//   &:hover {
//     background-color: #188ce8;
//   }
// }

.form-field__title {
  color: var(--features-info-color);
  display: block;
  margin-bottom: 4px;
}

.form-field__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.textarea {
  outline: none;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timing-function);

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
// .textarea:focus {
//   border-color: var(--accent-color);
// }
.textarea {
  &:focus {
    border-color: var(--accent-color);
  }
  &:placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field-checkbox__title {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: var(--features-info-color);
}

/* Кастомный чекбокс через before */
/* .form-field-checkbox__title::before {
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-field-checkbox__policy-check:checked + .form-field-checkbox__title::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
} */
.form-field-checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* Кастомный чекбокс через svg-sprite */
.form-field-checkbox__title span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-field-checkbox__icon {
  fill: transparent;
}
.form-field-checkbox__policy-check:checked + .form-field-checkbox__title span {
  background-color: var(--accent-color);
  border: none;
}
.form-field-checkbox__policy-check:checked
  + .form-field-checkbox__title
  .form-field-checkbox__icon {
  fill: #ffffff;
}
.form-field-checkbox__link {
  margin-left: 7px;
  text-decoration: underline;
  color: var(--accent-color);
}
