.section {
  padding-bottom: 94px;
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);

  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 42px;
  }
}
