.section {
  padding-bottom: 94px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
