:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --profession-color: #757575;
  --features-info-color: #757575;
  --general-duration: 250ms;
  --general-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
